<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .thanks {
        text-align: center;
        margin-top: 20%;
        font-size: 42px;
        background-color: rgba(255, 255, 255, 0.05);
        font-weight: 800;
    }
</style>

<body>
    <section id="contact" class="thanks">
        <div class="container">

            <header>
                <h2 className="thanks-header">Thank you!</h2>
            </header>


            <h5>I will get in touch with you shortly.</h5>

        </div>
        <a rel="stylesheet" href="/#home">Go Home</a>
    </section>
</body>

</html>